html {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 80px;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}


body {
	text-align: center;
	font-family: 'Alegreya Sans SC', Sans;
	font-size: 15pt;
	color: white;
}

p {
	margin-top: 50px;
}

header h1 {
	font-size: 30px;
	padding-bottom: 8px;
}

input[type="radio"]:checked+label {
	color: black;
}

#question {
	font-size: 25px;
	margin-top: 55px;
	color: white;
}

ul {
	list-style: none;
	color: black;
}


#choices label {
	margin-left: 5px;
	font-size: 20px;
	color: white;
	margin-top: 8px;
}

#choices label:hover {
	color: white;
}

#beginButton, #submitButton, #continueButton, #retryButton {
	color: #fff;
	border-radius: 2px;
	background-color: #0099cc;
	font-size: 18px;
	font-family: 'Alegreya Sans SC', Sans;
	margin-top: 60px;
}

#questionNumber {
	margin-top: 15px;
}
